.ring {
  position: fixed;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  opacity: 0.5;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: white;
  opacity: 0.5;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all 200ms ease-out;
  pointer-events: none;
}

.ring.hovered {
  width: 50px;
  height: 50px;
  border-width: 1px;
  transition: all 200ms ease-out;
  background-color: rgba(67, 67, 67, 0.1);
}

.dot.hovered {
  display: none;
}
