@font-face {
  font-family: 'Inter-regular';
  src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-medium';
  src: url('../fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'Inter-bold';
  src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins-light';
  src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins-semibold';
  src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('../fonts/Poppins-Medium.ttf');
}
